body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#foreground,
#background {
  position: absolute;
  top: 0;
  left: 0;
}

#foreground {
  z-index: 10;
}

#world-container {
  position: relative;
}
